@import "../base";

/* @define View */
.View {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.View-main {
  flex: 1 0 auto;
}

.View-landing {
  display: flex;
  flex-direction: column;
}

.View-login {
  background: #fff;
  box-shadow: 0 0.125rem 2.75rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  padding: 4rem 2rem;
  margin: var(--document-margin) 0;
}

@media (min-width: 1000px) {
  .View-landing {
    flex-direction: row;
    align-items: center;
  }

  .View-login {
    min-width: 25rem;
    margin: 0 0 0 var(--document-margin);
  }
}

.View-intro {
  margin: 4.3rem 0;
}

.View-button {
  background: #fff;
  border-radius: 2rem;
  text-align: center;
  padding: 0.8rem 2rem;
  font-weight: 600;
  font-size: 1.125rem;
  min-width: 9.5rem;
  margin-top: 1.5rem;
  display: inline-block;
}

.View-button svg {
  position: relative;
  top: -0.1em;
  margin-right: 0.5rem;
  vertical-align: middle;
}