@import "../base";

/* @define View */
.View {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.View-main {
  flex: 1 0 auto;
}

.View-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15vh 0 5vh;
}

.View-info {
  max-width: 35rem;
}

.View-page {
  margin: 15vh 0;
}

.View-panel {
  padding: 10vh 0;
  background-color: rgb(var(--document-background));
}

.View-panel--white {
  background-color: #fff;
}

.View-panel:not(.View-panel--white) + .View-panel:not(.View-panel--white) {
  margin-top: -10vh;
}

.View-panel--white + .View-panel--white {
  margin-top: -10vh;
}

@media (min-width: 1000px) {
  .View-panel {
    padding: 15vh 0;
  }

  .View-panel:not(.View-panel--white) + .View-panel:not(.View-panel--white) {
    margin-top: -15vh;
  }

  .View-panel--white + .View-panel--white {
    margin-top: -15vh;
  }
}

.View-panel--divided {
  padding-top: 0;
  padding-top: 2rem;
}

.View-login {
  background: #fff;
  box-shadow: 0 0.125rem 2.75rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  padding: 4rem 2rem;
  margin: var(--document-margin) 0;
}

@media (min-width: 1000px) {
  .View-landing {
    flex-direction: row;
    align-items: center;
  }

  .View-login {
    min-width: 25rem;
    margin: 0 0 0 var(--document-margin);
  }
}

.View-intro {
  position: relative;
  margin: 4.3rem 0;
}

.View-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.View-heading {
  padding-right: 0.5rem;
  margin-right: auto;
}

/**
 * Thread grid
 */

.View-treads {
  display: flex;
  flex-wrap: wrap;
  margin: 0.75rem -0.5rem -0.5rem;
}

.View-tread {
  padding: 0.5rem;
  flex: 0 0 100%;
}

@media (min-width: 500px) {
  .View-treads {
    margin: 0.75rem -0.75rem -0.75rem;
  }

  .View-tread {
    flex: 0 0 50%;
    padding: 0.75rem;
  }
}

@media (min-width: 1000px) {
  .View-tread {
    flex: 0 0 25%;
  }
}

.View-abstract {
  display: none;
}

@media (min-width: 1000px) {
  .View-abstract {
    display: block;
    position: fixed;
    top: 17vh;
    left: -30vh;
    pointer-events: none;
    z-index: -1;
    width: auto;
    height: 30vh;
  }

  .View-abstract--2 {
    left: auto;
    height: 110vh;
    width: auto;
    top: 0;
    transform: rotate(-30deg);
    right: -29vh;
  }
}
