@import "../base";

/** @define Text */
.Text {
  font-size: 1rem;
  text-align: left;
  max-width: var(--container-medium-width);
}

.Text + .Text {
  margin-top: 1rem;
}

.Text--center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Text--aligned {
  margin-left: auto;
  margin-right: auto;
}

.Text--intro {
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto 15vh;
  max-width: calc(var(--container-medium-width) + 7rem);
}

.Text--margin {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.Text--wide {
  max-width: var(--container-large-width);
}

.Text-small,
.Text--small {
  font-size: 0.875rem;
}

@media (min-width: 1000px) {
  .Text:not(.Text--static) {
    font-size: 1.25rem;
  }

  .Text--small:not(.Text--static) {
    font-size: 1rem;
  }

  .Text--intro:not(.Text--static),
  .Text--large:not(.Text--static)  {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .Text-columns { 
    display: flex;
  }

  .Text-column { 
    flex-basis: 50%;
  }

  .Text-column:first-child {
    padding-right: 1rem;
  }

  .Text-column:last-child {
    padding-left: 1rem;
  }
}

/**
 * Links
 */

.Text a {
  padding: 0.1em 0.3em;
  margin: -0.1em -0.3em;
  color: #23A098;
  font-weight: bold;
}

.Text a:not(.Embed-link):active {
  opacity: 0.5;
}

/**
 * Block elements
 */

.Text p,
.Text ul,
.Text ol,
.Text h1,
.Text h2,
.Text h3 {
  margin: 1rem 0;
}

.Text p:first-child,
.Text ul:first-child,
.Text ol:first-child,
.Text h1:first-child,
.Text h2:first-child,
.Text h3:first-child {
  margin-top: 0;
}

.Text p:last-child,
.Text ul:last-child,
.Text ol:last-child,
.Text h1:last-child,
.Text h2:last-child,
.Text h3:last-child {
  margin-bottom: 0;
}

.Text img {
  display: block;
  width: 100%;
  height: auto;
  margin: 2.2em 0;
}

.Text-caption {
  font-size: 1rem;
  margin: -1rem 0 -0.5rem;
  text-align: center;
}

.Text pre {
  font-size: 0.8rem;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: left;
}

/**
 * Blockquote
 */

.Text-blockquote {
  margin: 2rem 0 2.5rem;
  color: #23A098;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
}

.Text-cite {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(var(--document-color));
}

.Text-cite:empty {
  display: none;
}

.Text-blockquote p:first-child {
  margin-top: 0;
}

.Text-blockquote p:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .Text-blockquote {
    font-size: 1.7rem;
  }
}

@media (min-width: 1000px) {
  .Text-blockquote {
    font-size: 1.9rem;
    max-width: 55rem;
    margin: 3rem auto;
  }

  .Text:not(.Text--static) .Text-cite {
    font-size: 1.25rem;
  }
}


/**
 * Lists
 */

.Text ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.Text ul {
  list-style-type: disc;
  padding-left: 1.2em;
}

.Text li + li {
  padding-top: 0.3em;
}

/**
 * Headings
 */

.Text h1,
.Text h2,
.Text h3,
.Text h4 {
  font-weight: 600;
  line-height: 1.15;
  margin: 1rem 0;
}

.Text h1 {
  font-size: 2.5rem;
}

.Text h2 {
  font-size: 1.5rem;
}

.Text h3 {
  font-size: 1.25rem;
  line-height: 1.3;
}

.Text h4 {
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 0.3rem;
}

.Text h4 + p,
.Text h4 + ul,
.Text h4 + ol {
  margin-top: 0;
}

@media (min-width: 1000px) {
  .Text:not(.Text--static) h1 {
    font-size: 4.5rem;
    line-height: 1;
  }

  .Text:not(.Text--static) h2 {
    font-size: 2rem;
  }

  .Text:not(.Text--static) h3 {
    font-size: 1.5rem;
  }
}

.Text-download {
  border-radius: 3px;
  border: 1px solid #DADADA;
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  align-items: center;
  cursor: pointer;
  line-height: 1.25;
}

.Text-download svg {
  width: 1.2rem;
  height: 1.2rem;
  padding: 1.2rem 1.1rem;
  border-right: 1px solid #DADADA;
  margin-right: 1rem;
  display: block;
}

.Text-download strong {
  display: block;
  color: black;
}

.Text-download span {
  font-weight: normal;
  color: black;
  opacity: 0.5;
}