@import "../base";

/* @define Dropdown */
.Dropdown {
  display: inline-block;
  position: relative;
}

.Dropdown-heading {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  font-weight: bold;
  user-select: none;
}

.Dropdown-heading::after {
  content: "⌝";
  font-size: 1.2em;
  transform: translateY(0.2em) rotate(45deg);
}

.Dropdown[open] .Dropdown-heading::after {
  transform: translate(0.2em, -0.2em) rotate(135deg);
}

.Dropdown-heading::-webkit-details-marker {
  display: none;
}

.Dropdown-content {
  display: none;
  min-width: 100%;
  padding: 3.5rem 1rem 1rem;
  position: absolute;
  left: -1rem;
  top: -1rem;
  background: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 2px 44px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(2.5rem);
  animation: Dropdown-content--appearing 400ms forwards cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes Dropdown-content--appearing {
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.Dropdown[open] .Dropdown-content {
  display: block;
}
