@import "../global";

/* @define utilities */
.u-loading {
  background: currentColor !important;
  color: transparent !important;
  user-select: none !important;
  line-height: 1.4 !important;
  opacity: 0.1;
}